.table {
  padding: 10px;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.table .tbody .tr {
  border: none;
}
.table .tbody .tr.selectedrow {
  background-color: rgba(0, 0, 0, 0.3);
}
.table .thead {
  height: 50px;
}
.table .tfoot {
  height: 60px;
}
.table .thead .tr .th {
  padding: 5px;
  cursor: pointer;
  text-align: left;
}
.table .thead .tr .th:last-child {
  padding: 5px;
  text-align: right;
}
.table .thead .tr .th:nth-child(9) {
  padding: 5px;
  text-align: center;
}
.table .tbody .tr .td {
  padding: 5px;
  text-align: left;
}
.table .tbody .tr .td:last-child {
  padding: 5px;
  text-align: right;
}
.table .tbody .tr .td:nth-child(9) {
  padding: 5px;
  text-align: center;
}
.different {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-loading > div {
  padding: 10px 15px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  font-size: 15px;
}

.no-data td {
  padding: 10px;
  text-align: center;
}
/* .no-data td > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-data td > div > div {
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 3px;
  font-size: 15px;
} */
