.table {
  padding: 10px;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
.table .tbody .tr {
  border: none;
}
.table .tbody .tr.selectedrow {
  background-color: rgba(0, 0, 0, 0.3);
}
.table .thead {
  height: 50px;
}
.table .tfoot {
  height: 60px;
}
.table .thead .tr .th {
  padding: 5px;
  cursor: pointer;
  text-align: left;
}
.table .thead .tr .th:last-child {
  padding: 5px;
  text-align: right;
}
.table .thead .tr .th:nth-child(9) {
  padding: 5px;
  text-align: center;
}
.table .tbody .tr .td {
  padding: 5px;
  text-align: left;
}
.table .tbody .tr .td:last-child {
  padding: 5px;
  text-align: right;
}
.table .tbody .tr .td:nth-child(9) {
  padding: 5px;
  text-align: center;
}
.different {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
