@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #1f4172;
}

:root {
  --navy-blue: #1f4172;
  --dark-blue: #060930;
  --purple-blue: #333456;
  --grey-black: #333;
  --grey: grey;
  --white: white;
  --black: black;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* for profile image start  */
.avatar {
  transition: 0.3s ease-in;
}
.avatar:hover {
  transform: scale(4);
}
/* for profile image end  */

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}
.box {
  border: 1px solid black;
  padding: 20px;
  border-radius: 0.3rem;
  color: black;
  width: 400px;
}

.button {
  width: 4rem;
  height: 2rem;
  background-color: blue;
  color: white;
  border-radius: 0.3rem;
  border: 0px solid blue;
  font-weight: 900;
  cursor: pointer;
}
.button:disabled {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  cursor: default;
}
.button:hover:not(:disabled) {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.ac-l:active:not(:disabled) {
  transform: translateX(-5px);
}
.ac-r:active:not(:disabled) {
  transform: translateX(5px);
}

.avatar-uploader {
  position: relative;
  width: auto;
  .image-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    .image-preview-overlay {
      opacity: 1;
    }
  }

  .anticon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 8px;
  }
}
